<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="MyDatabaseConnectionString1" connectionString="Data Source=DESKTOP-0B0N8BB\SQLEXPRESS;Integrated Security=SSPI;Initial Catalog=ASPBootstrap" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="WsLogin.WsLogin" value="http://appweb2/WSappmovil/WsLogin.asmx"/>
    <add key="WsClientes.WsClientes" value="http://appweb2/WSappmovil/WsClientes.asmx"/>
    <add key="WsPedidos.WsPedidos" value="http://appweb2/WSappmovil/WsPedidos.asmx"/>
    <add key="WsArticulos.WsArticulos" value="http://appweb2/WSappmovil/WsArticulos.asmx"/>
  <add key="WsGeneral.WsGeneral" value="http://appweb2/WSappmovil/WsGeneral.asmx"/>
  </appSettings>
</configuration>